/Unity/Not-Nier-Automata/fmod_editor.log
/Unity/Not-Nier-Automata/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
.DS_Store
/Unity/Not-Nier-Automata/Assets/ExplosiveLLC/RPG Character Mecanim Animation Pack FREE/InputSystem - Requires InputSystem Package.unitypackage.meta
*.sfk
